<!-- begin page title -->
    <section id="page-title">
        <div class="container clearfix">
            <h1>Create Your Business Profile</h1>
        </div>
    </section>
    <!-- end page title -->

    <section id="content" class="container clearfix">
        <section id="main">
                <h2>Enter Your Business Details</h2>
                <%= render 'form' %>
        </section>
        
        
        
    </section>
    <!-- end content -->  