<%= render 'manager/menu' %>

<section>
	<h3 class="mtop20">Send Marketing Email</h3>
	
	<%= form_tag manager_send_marketing_email_path, :method => :post, class: "content-form" do %>
		
		<p>Add list of email addresses separated by commas (,).</p>
		<p><%= text_area_tag 'email', nil, placeholder: 'Email' %></p>
		
		<p><%= submit_tag "Send", class: 'button' %></p>
	
	<% end %>
	
</section>


</section>