<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
            <h1><%= @articles.first.article_category.name %> - Red Hot Voucher Book Blog</h1>
        </div>
    </section>
    <!-- end page title -->

    <section id="content" class="container clearfix">

    	<%= render 'articles/articles' %>
			
			<%= render 'articles/sidebar' %>

    </section>

</section>