<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
            <h1>Create A Web Voucher</h1>
        </div>
    </section>
    <!-- end page title -->


<%= render 'businesses/menu' %>
  
<!-- begin main content -->
  <section id="main" class="three-fourths column-last">
      <h2>New Web Voucher</h2>

			<%= render 'web_vouchers/form' %>

  </section>
  <!-- end main content -->
</section>
<!-- end content -->