<h2>Your Password has been changed</h2>

<p>Hi</p>
<p>Your password has successfully been changed.</p>
<p>If you have not requested that your password is to be changed, please contact us straight away at contact@redhotvoucherbook.com</p>

<p>Many Thanks<br />
The Red Hot Voucher Book Team</p>