<h3>New Business Created</h3>

<p>A new business has been created.</p>
<p><%= @business.business_name %></p>
<p>Account created at: <%= @business.business_account.created_at %></p>
<p>Profile created at: <%= @business.created_at %></p>
