<h3>Your Red Hot Voucher Book Account</h3>
<p>Your new account has been set up on the Red Hot Voucher Book website.</p>
<p>Your log in details are:<br />
Email: <%= @email %><br />
Password: <%= @pass %>
</p>
<p>You can change your password to something more memorable after you have logged in.</p>

<p>You can access your account by <%= link_to "logging in here", 'http://www.redhotvoucherbook.com/business_login' %></p>

<p>Many Thanks<br />
The Red Hot Voucher Book Team</p>