<h3>New Booklet Advert Request</h3>

<p><%= @business.business_name %> has just sent a new booklet advert request.</p>
<p>Details:
Booklet: <%= @booklet.name %>
Advert Size: <%= @advert.advert_size.name %>
</p>

<p>Contact them on <%= @business.telephone %></p>