<h3>Welcome back to Red Hot Voucher Books</h3>
<p>Thanks for re-subscribing to our newsletter; we missed you.</p>

<p>You can unsubscribe from this newsletter at any time by clicking this <%= link_to "unsubscribe", "http://www.redhotvoucherbook.com/newsletter/unsubscribe?email=#{@email}" %> link</p>