<h3>Welcome to Red Hot Voucher Books</h3>
<p>Thanks for subscribing to our newsletter.</p>

<p>You can unsubscribe from this newsletter at any time by clicking this <%= link_to "unsubscribe", "http://www.redhotvoucherbook.com/newsletter/unsubscribe?email=#{@email}" %> link</p>