<h3>Booklet advert design has been accepted</h3>

<p><%= @business.business.business_name %> has accepted their design.</p>
<p>Advert ID: <%= @advert.advert.id %></p>
<p>Image: <%= @advert.image.to_s %></p>
<p>Comment: <%= @advert.comment %></p>