<h3>New Message Received</h3>

<p>You have received a new message from Red Hot Voucher Book, regarding your voucher advertisement.</p>

<p><%= @message %></p>

<p>Please log into your account and view your messages. <%= link_to "You can log in here", "http://www.redhotvoucherbook.com/business_login" %></p>

<p>Thanks<br />
The Red Hot Voucher Books Team</p>