<h1>Password Reset</h1>

<p>Hi</p>
<p>You have requested that your password is reset.</p>
<p>Our team have been working hard to create a new password for you and have come up with this beauty:</p>
<p><%= @new_pass %></p>

<p>Please sign into your account, using the new password. You can then change it to something more memorable from your account pages.</p>

<p>If you have not requested that your password is to be changed, please contact us at contact@redhotvoucherbook.com and we will look into it.</p>

<p>Many Thanks<br />
The Red Hot Voucher Book Team</p>