	<%= render 'manager/menu' %>

	<section id="content" class="container clearfix">
        <section id="main">
        		<h2>Edit Commission Rate</h2>
            	<%= render 'form' %>
        </section>
	</section>


</section>