<!-- begin page title -->
    <section id="page-title">
    	<div class="container clearfix">
            <h1>Forgoten Your Business Account Password?</h1>
        </div>
    </section>
    <!-- end page title -->

    <section id="content" class="container clearfix">
        		<h2>Reset Your Password</h2>

						<p>Please enter the email address, you signed up to Red Hot Voucher Books with, and we will send you a new password.</p>

						<%= form_tag business_sessions_send_new_password_path, class: "content-form" do %>
							<p>
								<%= label_tag 'email' %>
								<%= text_field_tag 'email', nil, class: "input-text", :placeholder => 'Enter email address' %>
							</p>
							<p><%= submit_tag "Reset Password", class: "button" %></p>
						<% end %>
    </section>
        
        
        
    </section>
    <!-- end content -->