<h2>Red Hot Vouchers Benefits</h2>
<ul>
	<li><strong>Affordable</strong>.</li>
	<li><strong>Measurable</strong>. Actually see the returns from your vouchers.</li>
	<li><strong>5000</strong> books are hand delivered, <strong>every month</strong>, to each area.</li>
	<li>Full colour advertisements, at no extra cost.</li>
	<li>Professional design included in the price.</li>
	<li>High contrast, glossy booklets.</li>
	<li>Free web voucher listing with each booklet voucher. Saving you £25.</li>
	<li>Save over £400 per month compared to having your own leaflets designed, printed and distributed.</li>
	<li>Only our booklets are delivered. We do not mass deliver with any other leaflets</li>
</ul>